In [1]:
import pandas as pd
import sqlite3
import random
import os

In [2]:
# Ensure the data directory exists
os.makedirs("../data", exist_ok=True)

In [3]:

# Sample data pools
first_names = ["Emma", "Liam", "Olivia", "Noah", "Ava", "Elijah", "Sophia", "James", "Isabella", "Lucas"]
last_names = ["Anderson", "Clark", "Wright", "Hill", "Scott", "Young", "Hall", "Green", "Adams", "Nelson"]
departments = ["Computer Science", "Biology", "Mathematics", "Psychology", "Economics"]
start_years = [2019, 2020, 2021, 2022, 2023]
roles = ["Student", "Teaching Assistant", "Research Assistant"]

In [4]:
# Generate 100 synthetic students
students = []
for i in range(1001, 1101):
    name = f"{random.choice(first_names)} {random.choice(last_names)}"
    email = name.lower().replace(" ", ".") + "@university.com"
    department = random.choice(departments)
    start_date = f"{random.choice(start_years)}-08-01"
    role = random.choice(roles)
    students.append([i, name, email, department, start_date, role])

In [5]:
# Create a DataFrame
student_df = pd.DataFrame(students, columns=["student_id", "name", "email", "department", "start_date", "role"])

In [6]:
# Save as SQLite database
conn = sqlite3.connect("../data/student_roles.db")
student_df.to_sql("student_roles", conn, if_exists="replace", index=False)
conn.close()